html {
  position: relative;
  background-color: #0d5bc1;
}

body {
  font-family: Century Gothic;
}

main {
  height: 100vh;
  display: flex;
}

h1 {
  font-family: fantasy;
  color: #a7a4a3;
  font-size: 70px;
  text-align: center;
  position: relative;
  top: 10px;
  left: 260px;
}

.weather-title-container {
  position: absolute;
  top: 30px;
  border-radius: 25px;
  width: 800px;
  right: 600px;
  height: 300px;
  background: linear-gradient(to right, blue, rgb(64, 145, 231));
  display: flex;
  opacity: 0.9;
}

.input-group {
  top: 150px;
  height: 40px;
  width: 400px;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #acc8d7;
  border-radius: 25px;
}

@-webkit-keyframes run {
  0% {
    left: 0;
  }
  48% {
    -webkit-transform: rotateY(0deg);
  }
  50% {
    left: calc(100% - 100px);
    -webkit-transform: rotateY(180deg);
  }
  98% {
    -webkit-transform: rotateY(180deg);
  }
  100% {
    left: 0;
    -webkit-transform: rotateY(0deg);
  }
}

.white {
  fill: #534444;
}
.gray {
  fill: #5f2727;
}
.yellow {
  fill: #e9d525;
}

.element {
  width: 150px;
  height: 150px;
}

.main-card {
  background: linear-gradient(rgb(11, 42, 137), rgb(0, 46, 161) 50%);
  width: 300px;
  height: 400px;
  flex-direction: row;
  row-gap: 15px;
  border-radius: 20px;
}

@media only screen and (max-width: 768px) {
  html {
    margin-bottom: 200px;
    overflow: scroll;
  }

  div.default-weather {
    display: none;
  }

  div.searched-weather {
    position: absolute;
    width: 250px;
    top: 200px;
    margin-top: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  div.weather-title-container {
    width: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group {
    width: 200px;
    height: 20px;
  }

  .autocomplete-box {
    position: relative;
    top: -15px;
  }

  h1 {
    font-size: 40px;
    position: absolute;
    top: 50px;
    left: 80px;
  }

  input {
    position: absolute;
    bottom: 12px;
    font-size: 10px;
    height: 40px;
  }

  div.card-deck.main-card {
    width: 250px;
    height: 300px;
    margin-left: 130px;
    margin-right: 10px;
  }

  .land {
    display: none;
  }

  h6.Temperature {
    top: 42px;
    margin-left: 65px;
    font-size: 50px;
    height: min-content;
  }

  h6.country,
  h6.humidity,
  h6.wind-speed,
  h6.temp-feel {
    font-size: 20px;
    position: absolute;
    top: 5px;
  }

  div.card.country-card,
  div.card.humidity-card,
  div.card.windSpeed-card,
  div.card.feelsLike-card {
    height: 35px;
    width: 220px;
    position: relative;
    left: 16px;
  }
}

@media only screen and (min-width: 769px) {
  .default-weather {
    display: flex;
    position: absolute;
    height: 200px;
    margin-top: 350px;
    gap: 10px;
    width: 600px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-overflow: ellipsis;
  }

  .default-main-card {
    height: 150px;
    width: 200px;
    background: linear-gradient(rgb(11, 42, 137), rgb(0, 46, 161) 50%);
    position: relative;
    right: 0;
    left: 0;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    border-radius: 10px;
  }

  .default-Temperature {
    text-align: center;
    font-size: 25px;
    color: #373737;
  }

  div.default-weather-icon svg {
    position: relative;
    right: 12px;
    bottom: 30px;
  }

  .default-City {
    text-align: center;
    font-size: 12px;
    position: absolute;
    bottom: 0px;
    width: 99%;
    margin-right: auto;
    margin-left: auto;
    right: 0;
    left: 0;
    color: #373737;
    width: min-content;
  }

  .default-wind-speed {
    font-size: 12px;
  }

  .default-country {
    font-size: 12px;
  }

  .default-temp-feel {
    font-size: 12px;
  }

  .default-humidity {
    font-size: 12px;
  }

  .default-card {
    position: relative;
    background-color: rgb(43, 195, 206);
    height: 140px;
    width: 70px;
    margin-top: 4px;
    margin-left: 5px;
    border-radius: 5px;
    margin-bottom: 0;
  }

  .default-country-card {
    position: absolute;
    margin-left: 75px;
    background-color: rgb(43, 195, 206);
    width: 110px;
    border-radius: 5px;
    bottom: 110px;
  }

  .default-humidity-card {
    position: absolute;
    margin-left: 75px;
    background-color: rgb(43, 195, 206);
    width: 110px;
    border-radius: 5px;
    bottom: 0px;
  }

  .default-windSpeed-card {
    position: absolute;
    margin-left: 75px;
    background-color: rgb(43, 195, 206);
    width: 110px;
    border-radius: 5px;
    bottom: 37px;
  }

  .default-feelsLike-card {
    position: absolute;
    margin-left: 75px;
    background-color: rgb(43, 195, 206);
    width: 110px;
    border-radius: 5px;
    bottom: 73px;
  }

  div.searched-weather {
    position: absolute;
    width: 250px;
    top: 200px;
    margin-top: 300px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  div.weather-title-container {
    width: 600px;
    height: 200px;
    position: absolute;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  .input-group {
    width: 300px;
    height: 25px;
  }

  .autocomplete-box {
    position: relative;
    top: -15px;
  }

  h1 {
    font-size: 40px;
    position: absolute;
    top: 50px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
  }

  input {
    position: absolute;
    bottom: 12px;
    font-size: 10px;
    height: 50px;
  }

  div.card-deck.main-card {
    width: 250px;
    height: 300px;
    margin-top: -70px;
    margin-left: 130px;
    margin-right: 10px;
  }

  h6.Temperature {
    margin-top: -55px;
    margin-left: 65px;
    font-size: 50px;
    height: min-content;
  }

  h6.country,
  h6.humidity,
  h6.wind-speed,
  h6.temp-feel {
    font-size: 20px;
    position: absolute;
    top: 5px;
  }

  div.card.country-card,
  div.card.humidity-card,
  div.card.windSpeed-card,
  div.card.feelsLike-card {
    height: 35px;
    width: 220px;
    position: relative;
    left: 16px;
  }
}

.country-card {
  position: relative;
  height: 60px;
  width: 90%;
  left: 15px;
  background: linear-gradient(rgb(35 97 205), rgb(59, 99, 179));
  bottom: 90px;
}

.humidity-card {
  position: relative;
  height: 60px;
  width: 90%;
  left: 15px;
  background: linear-gradient(rgb(35 97 205), rgb(59, 99, 179));
  bottom: 80px;
}

.windSpeed-card {
  position: relative;
  height: 60px;
  width: 90%;
  left: 15px;
  background: linear-gradient(rgb(35 97 205), rgb(59, 99, 179));
  bottom: 70px;
}

.feelsLike-card {
  position: relative;
  height: 60px;
  width: 90%;
  left: 15px;
  background: linear-gradient(rgb(24, 69, 146), rgb(59, 99, 179));
  bottom: 60px;
}

.autocomplete-box {
  position: relative;
  bottom: 5px;
  width: 1300px;
  border-radius: 15px;
}

.input-group.active input {
  border-radius: 5px 5px 0 0;
  position: relative;
}
.input-group .autocomplete-box {
  padding: 0;
  margin-bottom: 10px;
  pointer-events: none;
  background-color: #70c4c6;
  max-height: 120px;
  border-radius: 25px;
  overflow-y: auto;
}
.input-group.active .autocomplete-box {
  padding: 10px 8px;
  opacity: 1;
  border-radius: 25px;
  pointer-events: auto;
}
.autocomplete-box li {
  padding: 8px 12px;
  display: none;
  width: 100%;
  border-radius: 25px;
  cursor: default;
  border-radius: 3px;
}
.input-group.active .autocomplete-box li {
  display: block;
  text-align: left;
}
.autocomplete-box li:hover {
  background: #a8dd15;
  transition: 1.5s;
  border-radius: 25px;
}

.searched-weather {
  position: absolute;
  width: 200px;
  height: 200px;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.weather-bg {
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
  margin: 0 auto;
  position: relative;
  animation-delay: 1s;
  background: #70c4c6;
  background-size: cover;
  animation-name: daylight;
  animation-duration: 20s;
  animation-iteration-count: infinite;
  overflow: hidden;
  animation-timing-function: linear;
}
.eclipse {
  width: 600px;
  height: 600px;
  position: absolute;
  left: 60%;
  top: 20%;
  animation-name: time;
  animation-duration: 40s;
  animation-iteration-count: infinite;
  z-index: 0;
  animation-timing-function: linear;
}
.sun {
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #ffa;
  position: absolute;
  top: -35px;
  left: -35px;
}
.sun.a {
  bottom: -35px;
  right: -35px;
  left: auto;
  top: auto;
}
.moon {
  position: absolute;
  top: -35px;
  right: -35px;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: #fff;
}
.moon.a {
  bottom: -35px;
  left: -35px;
  top: auto;
  right: auto;
}
.cloud {
  width: 50px;
  height: 45px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 20px;
  left: -20%;
  animation-name: cloud;
  animation-duration: 70s;
  animation-iteration-count: infinite;
  z-index: 1;
}
.cloud::before {
  content: "";
  width: 35px;
  height: 30px;
  background-color: #fff;
  margin-left: -20px;
  margin-top: 10px;
  display: block;
  border-radius: 50%;
}
.cloud::after {
  content: "";
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  right: -10px;
  top: 17px;
  border-radius: 50%;
}
.cloud.a {
  top: 150px;
  animation-duration: 55s;
}
.cloud.b {
  top: 100px;
  left: -15%;
  animation-duration: 38s;
}
.cloud.c {
  top: 250px;
  left: -10%;
  animation-duration: 25s;
}
.land {
  width: 100%;
  height: 220px;
  position: absolute;
  left: -50px;
  bottom: -120px;
  background-color: #83a81c;
  border-radius: 50%;
  z-index: 1;
  animation-name: land;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.land::before {
  width: 100%;
  height: 200px;
  content: "";
  position: absolute;
  left: 40%;
  top: 20%;
  border-radius: 50%;
  background-color: #96be29;
  transform: rotate(-15deg);
  animation-name: land1;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.tree {
  width: 10px;
  height: 40px;
  background-color: #766257;
  left: 200px;
  position: absolute;
}
.tree::before {
  content: "";
  position: absolute;
  bottom: 125%;
  left: -7px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 20px 43px 20px;
  border-color: transparent transparent #bfde3b transparent;
  z-index: 1;

  animation-name: windy;
  animation-duration: 5s;
  animation-iteration-count: infinite;
}
.tree::after {
  content: "";
  position: absolute;
  bottom: 100%;
  left: -25px;
  width: 0;
  height: 0;
  border-style: solid;
  border-width: 0 30px 60px 30px;
  border-color: transparent transparent #93ae29 transparent;
}
.tree.a {
  transform: scale(0.5);
  left: 250px;
}
.tree.b {
  transform: scale(0.75);
  left: 280px;
}
.tree.c {
  transform: scale(1.5);
  left: 450px;
  top: 100px;
}
.tree.d {
  transform: scale(1.25);
  left: 530px;
  top: 80px;
  z-index: 0;
}
.star {
  width: 4px;
  height: 4px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 50px;
  left: 100px;
  animation-name: fader;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star::before {
  content: "";
  width: 3px;
  height: 3px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: 20px;
  top: 20px;
  animation-name: blinker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star::after {
  content: "";
  width: 2px;
  height: 2px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  left: -200px;
  top: 50px;
  animation-name: blinker;
  animation-duration: 20s;
  animation-iteration-count: infinite;
}
.star.a {
  top: 30px;
  left: 90%;
}
.star.b {
  top: 120px;
  left: 70%;
}
.star.c {
  top: 100px;
  left: 65%;
}
.star.d {
  top: 200px;
  left: 15%;
}
.swirly-wind {
  position: absolute;
  top: 30%;
  animation-name: wind;
  animation-duration: 12s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.swirly-wind > span {
  width: 150px;
  background-color: #eee;
  height: 2px;
  display: block;
  position: relative;
}
.swirly-wind > span:first-child {
  width: 200px;
}
.swirly-wind > span:nth-child(1)::before {
  display: none;
}
.swirly-wind > span:nth-child(2) {
  margin-top: -10px;
  float: right;
}
.swirly-wind > span:nth-child(3) {
  margin-top: 15px;
  width: 75px;
  float: right;
}
.swirly-wind span::before {
  content: "";
  position: absolute;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  border: #fff 2px solid;
  bottom: calc(100% - 2px);
  right: -15px;
  -webkit-clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
  clip-path: polygon(100% 0, 100% 100%, 50% 100%, 0 0);
}
.swirly-wind > span:nth-child(3)::before {
  top: calc(100% - 2px);
  -webkit-clip-path: polygon(100% 0, 100% 100%, 14% 100%, 35% 0);
  clip-path: polygon(100% 0, 100% 100%, 14% 100%, 35% 0);
}

.swirly-wind.a {
  top: 20%;
  width: 75px;
  animation-duration: 8s;
}
.swirly-wind.b {
  top: 45%;
  width: 120px;
  animation-duration: 15s;
  height: 1px;
}
.swirly-wind.b::before {
  border: #fff 1px solid;
  bottom: calc(100% - 1px);
}
.wind {
  width: 150px;
  background-color: #eee;
  height: 2px;
  position: absolute;
  top: 30%;
  animation-name: wind;
  animation-duration: 8s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}
.wind::before {
  content: "";
  position: absolute;
  left: 200px;
  width: 100px;
  height: 1px;
  background-color: #eee;
  top: 100px;
}
.wind::after {
  content: "";
  position: absolute;
  left: 400px;
  width: 180px;
  height: 1px;
  background-color: #eee;
  top: 30px;
}
@keyframes time {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes daylight {
  0% {
    background-color: #70c4c6;
  }
  15% {
    background-color: #524b64;
  }
  40% {
    background-color: #354a4a;
  }
  70% {
    background-color: #354a4a;
  }
  80% {
    background-color: #e2b553;
  }
  100% {
    background-color: #70c4c6;
  }
}
@keyframes land {
  40% {
    background-color: #4d6932;
  }
  70% {
    background-color: #4d6932;
  }
}
@keyframes land1 {
  40% {
    background-color: #5b793e;
  }
  70% {
    background-color: #5b793e;
  }
}
@keyframes cloud {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(850px);
  }
}
@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}
@keyframes fader {
  0% {
    opacity: 0;
  }
  15% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 0.4;
  }
  70% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker {
  0% {
    opacity: 0;
  }
  18% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
  40% {
    opacity: 0;
  }
  60% {
    opacity: 1;
  }
  70% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes blinker-1 {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 0;
  }
  40% {
    opacity: 1;
  }
  60% {
    opacity: 1;
  }
  80% {
    opacity: 0;
  }
  100% {
    opacity: 0;
  }
}
@keyframes windy {
  15% {
    transform: translateX(5px);
    transform: rotate(5deg);
  }
  80% {
    transform: translateX(7px);
    transform: rotate(7deg);
  }
  80% {
    transform: translateX(5px);
    transform: rotate(5deg);
  }
}
@keyframes wind {
  0% {
    left: -800px;
    opacity: 0;
  }
  15% {
    opacity: 1;
  }
  70% {
    left: 800px;
    opacity: 1;
  }
  80% {
    left: 800px;
    opacity: 0;
  }
  100% {
    left: -1000px;
    opacity: 0;
  }
}

@keyframes snowday {
  0% {
    top: 0;
  }
  100% {
    top: 100%;
  }
}
.snow {
  width: 10px;
  height: 10px;
  border-radius: 50%;
  background-color: #fff;
  position: absolute;
  top: 0;
}
.snow.fall {
  animation-name: snowday;
  animation-duration: 5s;
}

/*
                     ** CLOUDS
                     */
@keyframes am-weather-cloud-1 {
  0% {
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -ms-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }

  50% {
    -webkit-transform: translate(10px, 0px);
    -moz-transform: translate(10px, 0px);
    -ms-transform: translate(10px, 0px);
    transform: translate(10px, 0px);
  }

  100% {
    -webkit-transform: translate(-5px, 0px);
    -moz-transform: translate(-5px, 0px);
    -ms-transform: translate(-5px, 0px);
    transform: translate(-5px, 0px);
  }
}

.am-weather-cloud-1 {
  -webkit-animation-name: am-weather-cloud-1;
  -moz-animation-name: am-weather-cloud-1;
  animation-name: am-weather-cloud-1;
  -webkit-animation-duration: 7s;
  -moz-animation-duration: 7s;
  animation-duration: 7s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes am-weather-cloud-2 {
  0% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }

  50% {
    -webkit-transform: translate(2px, 0px);
    -moz-transform: translate(2px, 0px);
    -ms-transform: translate(2px, 0px);
    transform: translate(2px, 0px);
  }

  100% {
    -webkit-transform: translate(0px, 0px);
    -moz-transform: translate(0px, 0px);
    -ms-transform: translate(0px, 0px);
    transform: translate(0px, 0px);
  }
}

.am-weather-cloud-2 {
  -webkit-animation-name: am-weather-cloud-2;
  -moz-animation-name: am-weather-cloud-2;
  animation-name: am-weather-cloud-2;
  -webkit-animation-duration: 3s;
  -moz-animation-duration: 3s;
  animation-duration: 3s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
                     ** SUN
                     */
@keyframes am-weather-sun {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  100% {
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.am-weather-sun {
  -webkit-animation-name: am-weather-sun;
  -moz-animation-name: am-weather-sun;
  -ms-animation-name: am-weather-sun;
  animation-name: am-weather-sun;
  -webkit-animation-duration: 9s;
  -moz-animation-duration: 9s;
  -ms-animation-duration: 9s;
  animation-duration: 9s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

@keyframes am-weather-sun-shiny {
  0% {
    stroke-dasharray: 3px 10px;
    stroke-dashoffset: 0px;
  }

  50% {
    stroke-dasharray: 0.1px 10px;
    stroke-dashoffset: -1px;
  }

  100% {
    stroke-dasharray: 3px 10px;
    stroke-dashoffset: 0px;
  }
}

.am-weather-sun-shiny line {
  -webkit-animation-name: am-weather-sun-shiny;
  -moz-animation-name: am-weather-sun-shiny;
  -ms-animation-name: am-weather-sun-shiny;
  animation-name: am-weather-sun-shiny;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
                     ** MOON
                     */
@keyframes am-weather-moon {
  0% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }

  50% {
    -webkit-transform: rotate(15deg);
    -moz-transform: rotate(15deg);
    -ms-transform: rotate(15deg);
    transform: rotate(15deg);
  }

  100% {
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    transform: rotate(0deg);
  }
}

.am-weather-moon {
  -webkit-animation-name: am-weather-moon;
  -moz-animation-name: am-weather-moon;
  -ms-animation-name: am-weather-moon;
  animation-name: am-weather-moon;
  -webkit-animation-duration: 6s;
  -moz-animation-duration: 6s;
  -ms-animation-duration: 6s;
  animation-duration: 6s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-transform-origin: 12.5px 15.15px 0;
  -moz-transform-origin: 12.5px 15.15px 0;
  -ms-transform-origin: 12.5px 15.15px 0;
  transform-origin: 12.5px 15.15px 0;
}

@keyframes am-weather-moon-star-1 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.am-weather-moon-star-1 {
  -webkit-animation-name: am-weather-moon-star-1;
  -moz-animation-name: am-weather-moon-star-1;
  -ms-animation-name: am-weather-moon-star-1;
  animation-name: am-weather-moon-star-1;
  -webkit-animation-delay: 3s;
  -moz-animation-delay: 3s;
  -ms-animation-delay: 3s;
  animation-delay: 3s;
  -webkit-animation-duration: 5s;
  -moz-animation-duration: 5s;
  -ms-animation-duration: 5s;
  animation-duration: 5s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

@keyframes am-weather-moon-star-2 {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

.am-weather-moon-star-2 {
  -webkit-animation-name: am-weather-moon-star-2;
  -moz-animation-name: am-weather-moon-star-2;
  -ms-animation-name: am-weather-moon-star-2;
  animation-name: am-weather-moon-star-2;
  -webkit-animation-delay: 5s;
  -moz-animation-delay: 5s;
  -ms-animation-delay: 5s;
  animation-delay: 5s;
  -webkit-animation-duration: 4s;
  -moz-animation-duration: 4s;
  -ms-animation-duration: 4s;
  animation-duration: 4s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: 1;
  -moz-animation-iteration-count: 1;
  -ms-animation-iteration-count: 1;
  animation-iteration-count: 1;
}

/*
                     ** RAIN
                     */
@keyframes am-weather-rain {
  0% {
    stroke-dashoffset: 0;
  }

  100% {
    stroke-dashoffset: -100;
  }
}

.am-weather-rain-1 {
  -webkit-animation-name: am-weather-rain;
  -moz-animation-name: am-weather-rain;
  -ms-animation-name: am-weather-rain;
  animation-name: am-weather-rain;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-rain-2 {
  -webkit-animation-name: am-weather-rain;
  -moz-animation-name: am-weather-rain;
  -ms-animation-name: am-weather-rain;
  animation-name: am-weather-rain;
  -webkit-animation-delay: 0.25s;
  -moz-animation-delay: 0.25s;
  -ms-animation-delay: 0.25s;
  animation-delay: 0.25s;
  -webkit-animation-duration: 8s;
  -moz-animation-duration: 8s;
  -ms-animation-duration: 8s;
  animation-duration: 8s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
                     ** SNOW
                     */
@keyframes am-weather-snow {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  33.33% {
    -webkit-transform: translateX(-1.2px) translateY(2px);
    -moz-transform: translateX(-1.2px) translateY(2px);
    -ms-transform: translateX(-1.2px) translateY(2px);
    transform: translateX(-1.2px) translateY(2px);
  }

  66.66% {
    -webkit-transform: translateX(1.4px) translateY(4px);
    -moz-transform: translateX(1.4px) translateY(4px);
    -ms-transform: translateX(1.4px) translateY(4px);
    transform: translateX(1.4px) translateY(4px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(-1.6px) translateY(6px);
    -moz-transform: translateX(-1.6px) translateY(6px);
    -ms-transform: translateX(-1.6px) translateY(6px);
    transform: translateX(-1.6px) translateY(6px);
    opacity: 0;
  }
}

@keyframes am-weather-snow-reverse {
  0% {
    -webkit-transform: translateX(0) translateY(0);
    -moz-transform: translateX(0) translateY(0);
    -ms-transform: translateX(0) translateY(0);
    transform: translateX(0) translateY(0);
  }

  33.33% {
    -webkit-transform: translateX(1.2px) translateY(2px);
    -moz-transform: translateX(1.2px) translateY(2px);
    -ms-transform: translateX(1.2px) translateY(2px);
    transform: translateX(1.2px) translateY(2px);
  }

  66.66% {
    -webkit-transform: translateX(-1.4px) translateY(4px);
    -moz-transform: translateX(-1.4px) translateY(4px);
    -ms-transform: translateX(-1.4px) translateY(4px);
    transform: translateX(-1.4px) translateY(4px);
    opacity: 1;
  }

  100% {
    -webkit-transform: translateX(1.6px) translateY(6px);
    -moz-transform: translateX(1.6px) translateY(6px);
    -ms-transform: translateX(1.6px) translateY(6px);
    transform: translateX(1.6px) translateY(6px);
    opacity: 0;
  }
}

.am-weather-snow-1 {
  -webkit-animation-name: am-weather-snow;
  -moz-animation-name: am-weather-snow;
  -ms-animation-name: am-weather-snow;
  animation-name: am-weather-snow;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-snow-2 {
  -webkit-animation-name: am-weather-snow;
  -moz-animation-name: am-weather-snow;
  -ms-animation-name: am-weather-snow;
  animation-name: am-weather-snow;
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay: 1.2s;
  -ms-animation-delay: 1.2s;
  animation-delay: 1.2s;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.am-weather-snow-3 {
  -webkit-animation-name: am-weather-snow-reverse;
  -moz-animation-name: am-weather-snow-reverse;
  -ms-animation-name: am-weather-snow-reverse;
  animation-name: am-weather-snow-reverse;
  -webkit-animation-duration: 2s;
  -moz-animation-duration: 2s;
  -ms-animation-duration: 2s;
  animation-duration: 2s;
  -webkit-animation-timing-function: linear;
  -moz-animation-timing-function: linear;
  -ms-animation-timing-function: linear;
  animation-timing-function: linear;
  -webkit-animation-iteration-count: infinite;
  -moz-animation-iteration-count: infinite;
  -ms-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

/*
                     ** EASING
                     */
.am-weather-easing-ease-in-out {
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  -ms-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
}

.CLOUD {
  position: relative;
  bottom: 600px;
}

.Weather-Icon {
  height: 100px;
  width: 100px;
  position: relative;
  bottom: 100px;
}

.time,
.clouds {
  text-align: center;
  color: rgb(255, 255, 255);
}

.City {
  text-align: center;
  color: rgb(255, 255, 255);
  position: relative;
  top: 5px;
  color: #acc8d7;
  font-weight: lighter;
}

.wind-speed {
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 30px;
  color: #acc8d7;
  font-weight: lighter;
}

.temp-feel {
  color: #a0aec0;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 30px;
  color: #acc8d7;
  font-weight: lighter;
}

.humidity {
  color: black;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 30px;
  color: #acc8d7;
  font-weight: lighter;
}

.country {
  color: black;
  position: relative;
  top: 5px;
  left: 5px;
  font-size: 30px;
  color: #acc8d7;
  font-weight: lighter;
}

.weather {
  color: white;
  position: relative;
  left: 20px;
  width: 30px;
}

.time {
  visibility: hidden !important;
}

.Temperature {
  top: -15px;
  position: absolute;
  left: 90%;
  top: 20%;
  transform: translate(-50%, -50%);
  position: fixed;
  color: #acc8d7;
  font-size: 65px;
  font-weight: lighter;
  white-space: nowrap;
}
